<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Data beans -->
	<bean id="JdoConnection" class="org.prot.portal.login.data.JdoConnection"
		init-method="init" />

	<bean id="UserDao" class="org.prot.portal.login.data.JdoUserDao">
		<property name="jdoConnection" ref="JdoConnection" />
	</bean>

	<bean id="AppDao" class="org.prot.portal.login.data.JdoAppDao">
		<property name="jdoConnection" ref="JdoConnection" />
	</bean>

	<!-- Business logic beans -->
	<bean id="UserService" class="org.prot.portal.services.UserService">
		<property name="userDao" ref="UserDao" />
	</bean>

	<bean id="AppService" class="org.prot.portal.services.AppService">
		<property name="appDao" ref="AppDao" />
	</bean>

	<!-- Web -->

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/start.htm">Start</prop>

				<!-- Login, Logout and Register -->
				<prop key="/registerHandler.htm">RegisterHandler</prop>
				<prop key="/logout.htm">Logout</prop>
				<prop key="/login.htm">Login</prop>
				<prop key="/loginHandler.htm">LoginHandler</prop>
				<prop key="/registerHandler.htm">RegisterHandler</prop>

				<!-- Portal -->
				<prop key="/portal.htm">Portal</prop>
				<prop key="/registerApp.htm">RegisterApp</prop>

			</props>
		</property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- Beans -->
	<bean name="Start" class="org.prot.portal.StartController" />

	<!-- Portal -->
	<bean name="Portal" class="org.prot.portal.PortalController">
		<property name="appService" ref="AppService" />
	</bean>

	<bean name="RegisterApp" class="org.prot.portal.RegisterAppController">
		<property name="successView" value="redirect:/portal.htm" />
		<property name="validator">
			<bean class="org.prot.portal.RegisterAppValidator">
				<property name="appService" ref="AppService" />
			</bean>
		</property>
		<property name="appService" ref="AppService" />
	</bean>

	<!-- Login and Logout -->
	<bean name="Logout" class="org.prot.portal.login.LogoutController" />

	<bean name="Login" class="org.prot.portal.login.LoginController" />

	<bean id="LoginHandler" class="org.prot.portal.login.LoginHandlerController">
		<property name="successView" value="portal" />
		<property name="validator">
			<bean class="org.prot.portal.login.CredentialValidator">
				<property name="userService" ref="UserService" />
			</bean>
		</property>
	</bean>

	<bean id="RegisterHandler" class="org.prot.portal.login.RegisterHandlerController">
		<property name="successView" value="redirect:/start.htm" />
		<property name="validator">
			<bean class="org.prot.portal.login.RegistrationValidator">
				<property name="userService" ref="UserService" />
			</bean>
		</property>
		<property name="userService" ref="UserService" />
	</bean>

</beans>