<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "log4j" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="SocketAppender" class="org.apache.log4j.net.SocketAppender">
		<param name="Port" value="4445" />
		<param name="RemoteHost" value="localhost" />
	</appender>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="output.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.prot.appserver" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="org.prot" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="SocketAppender" />
	</logger>

	<logger name="org.prot.appserver.runtime.java.data" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SocketAppender" />
	</logger>

	<logger name="org.datanucleus" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<root>
		<priority value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="SocketAppender" />
	</root>

</log4j:configuration>