<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Connector -->
	<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
		<property name="host" value="0.0.0.0" />

		<property name="port" value="9090" />

		<property name="acceptors" value="1" />
		<property name="statsOn" value="false" />


		<property name="maxIdleTime" value="5000" />
	</bean>

	<!-- Server -->
	<bean id="Server" class="org.eclipse.jetty.server.Server">
		<property name="threadPool">
			<bean class="org.eclipse.jetty.util.thread.QueuedThreadPool">
				<property name="minThreads" value="2" />
				<property name="maxThreads" value="10" />
			</bean>
		</property>

		<property name="connectors">
			<list>
				<ref bean="Connector" />
			</list>
		</property>

		<property name="handler" ref="HandlerCollection" />

		<property name="sessionIdManager">
			<bean class="org.eclipse.jetty.server.session.HashSessionIdManager">
				<property name="random">
					<bean class="java.util.Random" />
				</property>
				<property name="workerName" value="work1" />
			</bean>
		</property>

	</bean>

	<bean id="DosPrevention" class="org.prot.app.security.DosPrevention">
	</bean>

	<bean id="CountingRequestLog" class="ort.prot.util.server.CountingRequestLog" />

	<bean id="JettyAppManagement" class="org.prot.appserver.runtime.java.JettyAppManagement">
		<property name="countingRequestLog" ref="CountingRequestLog" />
	</bean>

	<!-- Request handling -->
	<bean id="HandlerCollection" class="org.eclipse.jetty.server.handler.HandlerCollection">
		<property name="handlers">
			<list>
				<ref bean="DosPreventionHandler" />
				<ref bean="RequestLogHandler" />
			</list>
		</property>
	</bean>

	<bean id="RequestLogHandler" class="org.eclipse.jetty.server.handler.RequestLogHandler">
		<property name="requestLog" ref="CountingRequestLog" />
	</bean>

	<bean id="DosPreventionHandler" class="org.prot.app.security.DosPreventionHandler">
		<property name="handler" ref="ContextCollectionHandler" />
		<property name="dosPrevention" ref="DosPrevention" />
	</bean>

	<bean id="ContextCollectionHandler"
		class="org.eclipse.jetty.server.handler.ContextHandlerCollection">
	</bean>

	<!-- Deployment -->
	<bean id="AppDeployer" class="org.prot.appserver.runtime.java.AppDeployer">
		<property name="contexts" ref="ContextCollectionHandler" />
		<property name="sessionManager" ref="SessionManager" />
	</bean>

	<!-- Session -->
	<bean id="SessionManager"
		class="org.prot.appserver.runtime.java.DistributedSessionManager">
		<property name="sessionDao" ref="SessionDao" />
		<property name="idManager" ref="IdManager" />
	</bean>

	<bean id="IdManager"
		class="org.prot.appserver.runtime.java.DistributedSessionIdManager">
		<constructor-arg ref="Server" />
		<property name="sessionDao" ref="SessionDao" />
	</bean>

	<bean id="SessionDao" class="org.prot.appserver.runtime.java.data.JdoSessionDao" />

</beans>

