<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Connector -->
	<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
		<property name="host" value="127.0.0.1" />

		<property name="port" value="9090" />

		<property name="acceptors" value="1" />
		<property name="statsOn" value="false" />
	</bean>

	<!-- Server -->
	<bean id="Server" class="org.eclipse.jetty.server.Server">
		<property name="threadPool">
			<bean class="org.eclipse.jetty.util.thread.QueuedThreadPool">
				<property name="minThreads" value="2" />
				<property name="maxThreads" value="5" />
			</bean>
		</property>

		<property name="connectors">
			<list>
				<ref bean="Connector" />
			</list>
		</property>

		<property name="handler" ref="HandlerCollection" />

	</bean>

	<!-- Request handling -->
	<bean id="HandlerCollection" class="org.eclipse.jetty.server.handler.HandlerCollection">
		<property name="handlers">
			<list>
				<ref bean="ContextCollectionHandler" />
			</list>
		</property>
	</bean>

	<bean id="ContextCollectionHandler"
		class="org.eclipse.jetty.server.handler.ContextHandlerCollection">
	</bean>


	<!-- Deployment -->
	<bean id="AppDeployer" class="org.prot.appserver.runtime.java.AppDeployer">
		<property name="contexts" ref="ContextCollectionHandler" />
	</bean>

</beans>

