<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<import resource="spring.xml" />

	<!-- Server-Mode dependent beans -->
	<bean id="AppFetcher" class="org.prot.appserver.appfetch.NullAppFetcher" />

	<bean id="AppExtractor" class="org.prot.appserver.extract.NullExtractor" />

</beans>

