<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Lifecycle manager -->
	<bean id="Lifecycle" class="org.prot.appserver.ServerLifecycle"
		init-method="start">
		<property name="appFetcher" ref="AppFetcher" />
		<property name="appExtractor" ref="AppExtractor" />
		<property name="appConfigurer" ref="AppConfigurer" />
		<property name="runtimeRegistry" ref="RuntimeRegistry" />
		<property name="appManager" ref="AppManager" />
	</bean>

	<bean id="AppFetcher" class="org.prot.appserver.appfetch.HttpAppFetcher">
		<property name="url" value="${fileserver.url}" />
	</bean>

	<bean id="AppExtractor" class="org.prot.appserver.extract.WarExtractor" />

	<bean id="AppConfigurer" class="org.prot.appserver.config.AppConfigurer">
		<property name="runtimeRegistry" ref="RuntimeRegistry" />
	</bean>

	<bean id="RuntimeRegistry" class="org.prot.appserver.runtime.RuntimeRegistry">
		<property name="runtimes">
			<list>
				<ref bean="PythonRuntime" />
				<ref bean="JavaRuntime" />
				<ref bean="WinstoneRuntime" />
			</list>
		</property>
	</bean>

	<bean id="AppManager" class="org.prot.appserver.management.AppServerManager">
	</bean>

	<!-- Runtimes -->
	<bean id="PythonRuntime" class="org.prot.appserver.runtime.jython.PythonRuntime" />
	<bean id="JavaRuntime" class="org.prot.appserver.runtime.java.JavaRuntime" />
	<bean id="WinstoneRuntime" class="org.prot.appserver.runtime.winstone.WinstoneRuntime" />

</beans>

