<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Lifecycle manager -->
	<bean id="Lifecycle" class="org.prot.appserver.ServerLifecycle"
		init-method="start">
		<property name="appFetcher" ref="AppFetcher" />
		<property name="appExtractor" ref="AppExtractor" />
		<property name="appConfigurer" ref="AppConfigurer" />
		<property name="runtimeRegistry" ref="RuntimeRegistry" />
		<property name="appManager" ref="AppManager" />
	</bean>

	<bean id="AppFetcher" class="org.prot.appserver.appfetch.HttpAppFetcher">
		<property name="url" value="${fileserver.url}" />
	</bean>

	<bean id="AppExtractor" class="org.prot.appserver.extract.WarExtractor" />

	<bean id="AppConfigurer" class="org.prot.appserver.config.AppConfigurer">
		<property name="runtimeRegistry" ref="RuntimeRegistry" />
	</bean>

	<bean id="RuntimeRegistry" class="org.prot.appserver.runtime.RuntimeRegistry">
		<property name="runtimes">
			<list>
				<ref bean="PythonRuntime" />
				<ref bean="JavaRuntime" />
			</list>
		</property>
	</bean>

	<bean id="AppManager" class="org.prot.appserver.management.AppManager">
	</bean>

	<!-- Runtimes -->
	<bean id="PythonRuntime" class="org.prot.appserver.runtime.jython.PythonRuntime" />
	<bean id="JavaRuntime" class="org.prot.appserver.runtime.java.JavaRuntime" />

	<!-- RMI-Services -->
	<bean id="ManagementExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="appserver/${appId}" />
		<property name="service" ref="AppManager" />

		<property name="serviceInterface"
			value="org.prot.appserver.management.IAppServerStats" />

		<!-- TODO -->
		<property name="registryPort" value="2299" />
	</bean>

</beans>

