<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Import other Spring-Configurations -->
	<import resource="zookeeper.xml" />

	<!-- Properties -->
	<bean id="PropertyConfigurer" class="org.prot.manager.config.Configurer">
	</bean>


	<!-- Application beans -->
	<bean id="ControllerRegistry" class="org.prot.manager.stats.ControllerRegistry">
	</bean>

	<bean id="Stats" class="org.prot.manager.stats.Stats" />

	<bean id="ControllerWatcher" class="org.prot.manager.watcher.ControllerWatcher"
		init-method="init">
		<property name="registry" ref="ControllerRegistry" />
		<property name="stats" ref="Stats" />
	</bean>

	<bean id="ManagementService" class="org.prot.manager.zookeeper.ManagementService"
		init-method="init">
		<property name="zooHelper" ref="ZooHelper" />

		<property name="jobs">
			<list>
				<bean class="org.prot.manager.zookeeper.jobs.RegisterMaster"
					init-method="init">
					<constructor-arg index="0"
						value="${zk.master.networkInterface}" />
					<constructor-arg index="1" value="${rmi.registry.port}" />
				</bean>
				<ref bean="LookupControllers" />
			</list>
		</property>
	</bean>

	<bean id="LookupControllers" class="org.prot.manager.zookeeper.jobs.LookupControllers">
		<property name="registry" ref="ControllerRegistry" />
	</bean>

	<bean id="LoadBalancer" class="org.prot.manager.balancing.SimpleLoadBalancer">
		<property name="registry" ref="ControllerRegistry" />
		<property name="stats" ref="Stats" />
	</bean>

	<!-- Services -->
	<bean id="FrontendService" class="org.prot.manager.services.FrontendServiceImpl">
		<property name="loadBalancer" ref="LoadBalancer" />
	</bean>

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="frontendService" />
		<property name="service" ref="FrontendService" />
		<property name="serviceInterface" value="org.prot.manager.services.FrontendService" />

		<property name="registryPort" value="${rmi.registry.port}" />
	</bean>

</beans>


