<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Import other Spring-Configurations -->
	<import resource="zookeeper.xml" />

	<!-- Properties -->
	<bean id="PropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:/etc/config.properties</value>
		</property>
	</bean>


	<!-- Application beans -->
	<bean id="ControllerRegistry" class="org.prot.manager.data.ControllerRegistry">
	</bean>

	<bean id="ManagementService" class="org.prot.manager.zookeeper.ManagementService"
		init-method="init">
		<property name="zooHelper" ref="ZooHelper" />

		<property name="jobs">
			<list>
				<bean class="org.prot.manager.zookeeper.jobs.RegisterMaster">
					<constructor-arg index="0" value="localhost" />
					<constructor-arg index="1" value="${rmi.registry.port}" />
				</bean>
				<ref bean="LookupControllers" />
			</list>
		</property>
	</bean>

	<bean id="LookupControllers" class="org.prot.manager.zookeeper.jobs.LookupControllers">
		<property name="registry" ref="ControllerRegistry" />
	</bean>

	<!-- JMX-Test -->
	<bean id="clientConnector"
		class="org.springframework.jmx.support.MBeanServerConnectionFactoryBean">
		<property name="serviceUrl" value="service:jmx:rmi:///jndi/rmi://localhost:${rmi.registry.port}/server" />
	</bean>

	<bean id="proxy" class="org.springframework.jmx.access.MBeanProxyFactoryBean">

		<property name="objectName" value="bean:name=testBean" />

		<property name="proxyInterface"
			value="org.prot.controller.management.IJmxDeployment" />

		<property name="server" ref="clientConnector" />
	</bean>





	<!-- Services -->
	<bean id="FrontendService" class="org.prot.manager.services.FrontendServiceImpl">
		<property name="registry" ref="ControllerRegistry" />
	</bean>

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="frontendService" />
		<property name="service" ref="FrontendService" />
		<property name="serviceInterface" value="org.prot.manager.services.FrontendService" />

		<property name="registryPort" value="${rmi.registry.port}" />
	</bean>

</beans>


