<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Import other Spring-Configurations -->
	<import resource="zookeeper.xml" />

	<!-- Properties -->
	<bean id="PropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	</bean>


	<!-- HTTP-Client -->
	<bean id="HttpClient" class="org.eclipse.jetty.client.HttpClient"
		init-method="start">
		<property name="threadPool" ref="ThreadPool" />

		<!-- Can be critical if used with complexe servers -->
		<property name="timeout" value="30000" />

		<property name="maxRetries" value="0" />
	</bean>



	<!-- ThreadPool -->
	<bean id="ThreadPool" class="org.eclipse.jetty.util.thread.QueuedThreadPool">
		<property name="minThreads" value="2" />
		<property name="maxThreads" value="10" />
	</bean>



	<!-- Connector -->
	<bean id="OutsideConnector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
		<property name="host" value="${http.controller.interface}" />
		<property name="port" value="${http.controller.port}" />
		<property name="acceptors" value="3" />

		<property name="statsOn" value="true" />
	</bean>



	<!-- Server -->
	<bean id="Server" class="org.eclipse.jetty.server.Server">
		<property name="threadPool" ref="ThreadPool" />

		<property name="connectors">
			<list>
				<ref bean="OutsideConnector" />
			</list>
		</property>

		<property name="handler" ref="HandlerList" />
	</bean>


	<bean id="HandlerList" class="org.eclipse.jetty.server.handler.HandlerCollection">
		<property name="handlers">
			<list>
				<ref bean="RequestHandler" />
				<ref bean="LogHandler" />
			</list>
		</property>
	</bean>

	<!-- Statistics -->
	<bean id="CountingRequestLog" class="ort.prot.util.server.CountingRequestLog"></bean>

	<bean id="LogHandler" class="org.eclipse.jetty.server.handler.RequestLogHandler">
		<property name="requestLog" ref="CountingRequestLog" />
	</bean>

	<!-- Request handling -->

	<bean id="RequestHandler" class="org.prot.controller.handler.RequestHandler">
		<property name="appManager" ref="AppManager" />
		<property name="requestManager" ref="RequestManager" />
	</bean>




	<!-- Application beans -->
	<bean id="ManagementService" class="org.prot.controller.zookeeper.ManagementService"
		init-method="init">
		<property name="zooHelper" ref="ZooHelper" />
		<property name="networkInterface" value="${zk.controller.networkInterface}" />
	</bean>

	<bean id="ControllerProxy" class="org.prot.controller.handler.ControllerProxy">
		<property name="httpClient" ref="HttpClient" />
		<property name="requestManager" ref="RequestManager" />
	</bean>

	<bean id="Controller" class="org.prot.controller.Controller">
		<property name="server" ref="Server" />
	</bean>


	<bean id="AppRegistry" class="org.prot.controller.manager.AppRegistry">
	</bean>

	<bean id="AppMonitor" class="org.prot.controller.manager.AppMonitor">
		<constructor-arg index="0" ref="ThreadPool" />
	</bean>

	<bean id="AppManager" class="org.prot.controller.manager.AppManager"
		init-method="init">
		<property name="registry" ref="AppRegistry" />
		<property name="monitor" ref="AppMonitor" />
	</bean>

	<bean id="TokenChecker" class="org.prot.controller.manager.TokenCheckerProxy">
		<property name="appManager" ref="AppManager" />
	</bean>

	<bean id="RequestManager" class="org.prot.controller.handler.RequestManager">
		<property name="appManager" ref="AppManager" />
		<property name="controllerProxy" ref="ControllerProxy" />
	</bean>


	<!-- Services for AppServers -->
	<bean id="UserServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="appserver/UserService" />

		<property name="service">
			<bean class="org.prot.controller.services.user.UserServiceImpl">
				<property name="tokenChecker" ref="TokenChecker" />
			</bean>
		</property>

		<property name="serviceInterface"
			value="org.prot.controller.services.user.UserService" />

		<property name="registryPort" value="${rmi.controller.registry.port}" />
	</bean>

	<bean id="DeployServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="appserver/DeployService" />

		<property name="service">
			<bean class="org.prot.controller.services.deploy.DeployServiceImpl">
				<property name="tokenChecker" ref="TokenChecker" />
				<property name="management" ref="AppServerWatcher" />
			</bean>
		</property>

		<property name="serviceInterface"
			value="org.prot.controller.services.deploy.DeployService" />

		<property name="registryPort" value="${rmi.controller.registry.port}" />
	</bean>

	<bean id="DbDao" class="org.prot.controller.services.db.HbaseDbDao" />
	<bean id="DbServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="appserver/DbService" />

		<property name="service">
			<bean class="org.prot.controller.services.db.DbServiceImpl">
				<property name="tokenChecker" ref="TokenChecker" />
				<property name="dbDao" ref="DbDao" />
			</bean>
		</property>

		<property name="serviceInterface" value="org.prot.controller.services.db.DbService" />

		<property name="registryPort" value="${rmi.controller.registry.port}" />
	</bean>

	<bean id="LogServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="appserver/LogService" />

		<property name="service">
			<bean class="org.prot.controller.services.log.LogServiceImpl">
				<property name="tokenChecker" ref="TokenChecker" />
			</bean>
		</property>

		<property name="serviceInterface" value="org.prot.controller.services.log.LogService" />

		<property name="registryPort" value="${rmi.controller.registry.port}" />
	</bean>

	<!-- Management -->
	<bean id="AppServerWatcher" class="org.prot.controller.management.AppServerWatcher"
		init-method="init">
		<property name="manager" ref="AppManager" />
	</bean>

	<!-- JMX -->
	<bean id="MbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean" />

	<bean id="ServerConnector"
		class="org.springframework.jmx.support.ConnectorServerFactoryBean">
		<property name="objectName" value="connector:name=rmi" />

		<!-- Register the services in the local RMI registry -->
		<property name="serviceUrl"
			value="service:jmx:rmi:///jndi/rmi://localhost:${rmi.controller.registry.port}/controller" />

		<property name="threaded" value="true" />
		<property name="daemon" value="true" />

		<property name="server">
			<ref local="MbeanServer" />
		</property>
	</bean>

	<bean id="JmxExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="server" ref="MbeanServer" />

		<property name="registrationBehaviorName" value="REGISTRATION_REPLACE_EXISTING" />

		<property name="beans">
			<map>
				<entry key="bean:name=deployment">
					<bean class="org.prot.controller.management.jmx.JmxDeployment">
						<property name="management" ref="AppServerWatcher" />
						<property name="manager" ref="AppManager" />
					</bean>
				</entry>
				<entry key="bean:name=resources">
					<bean class="org.prot.controller.management.jmx.JmxResources"
						init-method="init">
						<property name="appServerWatcher" ref="AppServerWatcher" />
						<property name="countingRequestLog" ref="CountingRequestLog" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>

