<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- ThreadPool -->
	<bean id="ThreadPool" class="org.eclipse.jetty.util.thread.QueuedThreadPool">
		<property name="minThreads" value="2" />
		<property name="maxThreads" value="5" />
	</bean>

	<!-- Connectors -->
	<bean id="OutsideConnector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
		<property name="host" value="0.0.0.0" />
		<property name="port" value="8080" />

		<property name="acceptors" value="1" />
	</bean>

	<!-- Server -->
	<bean id="Server" class="org.eclipse.jetty.server.Server">
		<property name="threadPool" ref="ThreadPool" />

		<property name="connectors">
			<list>
				<ref bean="OutsideConnector" />
			</list>
		</property>

		<property name="handler" ref="HandlerCollection" />
	</bean>

	<!-- Request handling -->
	<bean id="HandlerCollection" class="org.prot.controller.handler.PortSelectionHandler">
		<property name="handlers">
			<list value-type="org.prot.controller.handler.HandlerDecorator">
				<ref bean="ProxyHandler" />
				<ref bean="RequestHandler" />
			</list>
		</property>
	</bean>


	<bean id="ProxyHandler" class="org.prot.controller.handler.HandlerDecorator">
		<property name="port" value="8079" />
		<property name="handler">
			<bean class="org.prot.controller.handler.ControlHandler" />
		</property>
	</bean>

	<bean id="RequestHandler" class="org.prot.controller.handler.HandlerDecorator">
		<property name="port" value="8080" />
		<property name="handler">
			<bean class="org.prot.controller.handler.RequestHandler">
				<property name="appManager" ref="AppManager" />
				<property name="httpClient" ref="HttpClient" />
			</bean>
		</property>
	</bean>

	<!-- Application beans -->
	<bean id="Controller" class="org.prot.controller.Controller">
		<property name="server" ref="Server" />
	</bean>

	<bean id="AppManager" class="org.prot.controller.manager.AppManager">
	</bean>

	<!-- Services -->
	<bean id="ControllerService" class="org.prot.controller.services.ControllerServiceImpl">
		<property name="manager" ref="AppManager" />
	</bean>

	<bean id="ControllerServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="ControllerService" />
		<property name="service" ref="ControllerService" />
		<property name="serviceInterface"
			value="org.prot.controller.services.ControllerService" />

		<property name="registryPort" value="2299" />
	</bean>

	<!-- HTTP-Client -->
	<bean id="HttpClient" class="org.eclipse.jetty.client.HttpClient"
		init-method="start">
		<property name="threadPool" ref="ThreadPool" />
	</bean>

</beans>

