<?xml-stylesheet type="text/xsl" ?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Connectors -->
	<bean id="OutsideConnector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
		<property name="host" value="0.0.0.0" />
		<property name="port" value="6060" />

		<property name="acceptors" value="1" />
	</bean>

	<!-- Server -->
	<bean id="Server" class="org.eclipse.jetty.server.Server">
		<property name="threadPool">
			<bean class="org.eclipse.jetty.util.thread.QueuedThreadPool">
				<property name="minThreads" value="5" />
				<property name="maxThreads" value="20" />
			</bean>
		</property>

		<property name="connectors">
			<list>
				<ref bean="OutsideConnector" />
			</list>
		</property>

		<property name="handler" ref="HandlerCollection" />
	</bean>

	<!-- Request handling -->
	<bean id="HandlerCollection" class="org.eclipse.jetty.server.handler.HandlerCollection">
		<property name="handlers">
			<list>
				<ref bean="FlowHandler" />
			</list>
		</property>
	</bean>

	<bean id="FlowHandler" class="org.prot.frontend.handlers.FlowHandler">
		<property name="frontendService" ref="FrontendService" />
	</bean>

	<!--  Application beans -->

	<!-- Remote -->
	<bean id="FrontendService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="rmi://localhost:1199/frontendService" />
		<property name="serviceInterface" value="org.prot.manager.service.frontend.FrontendService" />
	</bean>

</beans>

